<div>
    <h2 class="greeting">{{username}}, contruct your new post!</h2>

    <section class="new-post">
        <div>
            <div class="new-title">
                <label class="new-post-top" for="postTitle">Title:</label>
                <input type="text" id="postTitle" maxlength="40">
            </div>
            <div class="new-body">
                <label for="postBody">Post body:</label>
                <textarea id="postBody" maxlength="250"></textarea>
            </div>
            <button id="new-post-btn">When you're ready, click here to submit!</button>
            <span class="hide" id="curUserId">{{user_id}}</span>
        </div>
    </section>
</div>

<script src="./js/newPost.js"></script>