<div>
    <section id="blog-posts">
        <div class="post">
            <div class="post-head">
                <span class="title">Blog post title</span>
                <span class="post-info">post by forest, 10PM</span>
            </div>
            <div>
                <p class="post-body">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, distinctio assumenda provident illum exercitationem reprehenderit qui voluptate, iure vero eaque dicta modi velit eius eligendi! Officiis, praesentium. Aliquid, commodi ex?
                </p>
            </div>
        </div>
    </section>

    <section id="blog-posts">
        <div class="post">
            <div class="post-head">
                <span class="title">Blog post title</span>
                <span class="post-info">post by forest, 10PM</span>
            </div>
            <div>
                <p class="post-body">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, distinctio assumenda provident illum exercitationem reprehenderit qui voluptate, iure vero eaque dicta modi velit eius eligendi! Officiis, praesentium. Aliquid, commodi ex?
                </p>
            </div>
        </div>
    </section>
</div>