<div class="hbs-body">
    <section class="account-screen">
    <p id="warning">{{msg}}</p>
        <div class="button-bar">
            <button class="log-in-switch on" id="login-screen">Log in:</button>
            <button class="log-in-switch" id="create-act-screen">Create account:</button>
        </div>
        <article class="" id="loginPanel">
            <p class="pad log-head">Log in~</p>
            <form>
                <div class="log-grid">
                    <label class="log-title" for="login-user">Username:</label>
                    <input id="login-user" type="text">
                </div>
                <div class="log-grid">
                    <label class="log-title" for="login-pass">Password:</label>
                    <input id="login-pass" type="password">
                </div>
                <button class="pad submit-btn" id="loginBtn" type="submit">Submit</button>
            </form>
        </article>

        <article class="hide" id="createAccountPanel">
            <p class="pad log-head">New user~</p>
            <form>
                <div class="log-grid">
                    <label class="log-title" for="create-user">Username:</label>
                    <input id="create-user" type="text">
                </div>
                <div class="log-grid">
                    <label class="log-title" for="create-pass">Password:</label>
                    <input id="create-pass" type="password">
                </div>
                <div class="log-grid">
                    <label class="log-title" for="password-confirm">Confirm password:</label>
                    <input id="password-confirm" type="password">
                </div>
                <button class="pad submit-btn" id="createUserBtn" type="submit">Submit</button>
            </form>
        </article>

    </section>
</div>

<script src="/js/login.js"></script>
<script src="../utils/login-switch.js"></script>