<div class="hbs-body">

    <section class="account-screen">

        <article>
            <p>Log in with existing account</p>
            <form>
                <div>
                    <label for="login-user">Username:</label>
                    <input id="login-user" type="text">
                </div>
                <div>
                    <label for="login-pass">Password:</label>
                    <input id="login-pass" type="text">
                </div>
                <button id="loginBtn" type="submit">Log in</button>
            </form>
        </article>

        <article>
            <p>Create a new account</p>
            <form>
                <div>
                    <label for="create-user">Username:</label>
                    <input id="create-user" type="text">
                </div>
                <div>
                    <label for="create-pass">Password:</label>
                    <input id="create-pass" type="text">
                </div>
                <div>
                    <label for="password-confirm">Confirm password:</label>
                    <input id="password-confirm" type="text">
                </div>
                <button id="createUserBtn" type="submit">Create account</button>
            </form>
        </article>

    </section>
</div>