.hide {
    display: none;
}

body {
    background-color: rgb(208, 255, 208);

}

header {
    background-color: rgb(27, 23, 23);
    color: #fff;
}

.head-text {
    text-align: center;
    font-size: 8em;
    margin: 0;
}

ul {
    text-align: center;
}

.greeting {
    font-style: italic;
    margin: 30px;
    color:rgb(72 78 75);
    border-bottom: 7px double grey;
    font-family: sans-serif;
    display: inline-block;
}

.new-post, .new-comment {
    background-color: honeydew;
    width: 80%;
    margin: 0 auto;
    border-radius: 25px;
}

.new-post label, .new-comment label {
    color: rgb(72 78 75);
}

.new-post label, .new-post input, .new-post textarea,
.new-comment label, .new-comment textarea {
    display: block;
    width: 80%;
    margin: 10px auto;
    font-size: 25px;
}

.new-post-top {
    padding-top: 25px;
}

#new-post-btn, #new-comment-btn {
    background-color: aliceblue;
    width: 100%;
    border: 1px solid navajowhite;
    height: 40px;
    margin-top: 20px;
    font-style: italic;
    color: #716565;
}

.nav-el {
    text-decoration: none;
    display: inline;
    font-size: 2em;
    padding: 0 10px;
}

.nav-list li a {
    text-decoration: none;
    color: #ffff
}

article {
    border: black solid 2px;
    width: 30%;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.blog-posts {
    border: rgb(35, 70, 35) solid 1px;
    background-color: rgb(35, 70, 35);
    margin: 10px 30px;
    border-radius: 2px
}

.post {
    margin: 10px 30px;
}

.post-head {
    display: flex;
    justify-content: space-between;
    margin: 5px 20px;
    color: #fff;
}

.title {
    font-size: 30px;
}

.post-info {
    font-style: italic;
}

.post-body {
    margin: 15px 20px;
    background-color: rgb(208, 255, 208);
    padding: 30px;
    border-radius: 5px;
}


